<template>
  <div class="head">
    <div class="logo_holder"><img src="../assets/img/logo.jpg" alt="" class="logo"></div>
  </div>
  <div class="search_holder">
    <input type="text" class="search">
  </div>
</template>

<script>

  export default {
    name: 'head',
    data () {
      return {

      }
    }
  }
</script>

<style scoped>
  .logo_holder{
    display: inline-block;
    width: 5%;
    height: 10vh;
  }
  .logo{
    width: 100%;
    border-radius: 50%;
    margin: 20%;
  }
</style>
