<template>
  <gmap-map
    :center="center"
    :zoom="zoom"
    style="width: 100%; height: 90vh"
  >
    <gmap-marker
      v-for="m in markers"
      :position="m.position"
      :clickable="true"
      :draggable="false"
      @click="center=m.position"
    ></gmap-marker>
  </gmap-map>
</template>

<script>
  // New in 0.4.0
  import * as VueGoogleMaps from 'vue2-google-maps'
  import Vue from 'vue'

  Vue.use(VueGoogleMaps, {
    load: {
      key: 'AIzaSyBzlLYISGjL_ovJwAehh6ydhB56fCCpPQw'
    }
  })

  export default {
    data () {
      return {
        center: {lat: 48.504465, lng: 32.262496},
        markers: [{
          position: {lat: 48.504465, lng: 32.262496}
        }, {
          position: {lat: 48.504665, lng: 32.262596}
        }
        ],
        zoom: 14
      }
    }
  }
</script>
