<template>
  <div id="app">
    <router-view></router-view>
  </div>
</template>

<script src="./assets/js/script.js">
export default {
  name: 'app'
}
</script>

<style src="./assets/css/style.css"></style>
