html, body{
  margin: 0;
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.container {
  width: 100vw;
  vertical-align: top;
  display: inline-block;
  float: left;
}
.sidebar{
  width: 20vw;
  display: inline-block;
  height: 100vh;
  margin: 0;
  padding: 0;
  background-color: black;
  transition: width;
  transition-duration: 0.25s;
  float: left;
}
.site_navigation{
  color: azure;
  list-style-type: none;
}
.nav_item button{
  color: azure;
  text-decoration: none;
  background: transparent;
  border: none;
  font-size: 175%;
  cursor: pointer;
}
.nav_item{
  margin: 10% 0;
}
.nav_item button{
  outline: none;
  border: none;
}
#nav_display{
  margin: 5%;
}
.hidden{
  width: 4%;
  transition: width;
  transition-duration: 0.25s;
}
.display-none{
  display: none;
}

.wide{
  width: 95.5vw;
  transition: width;
  transition-duration: 0.25s;
}
